div#container
  position: relative
  width: 1000px
  height: 600px
svg#content
  position: absolute
  left: 0px
  top: 0px
div#overlay
  position: absolute
  left: 0px
  top: 0px
  height: 100%
  width: 100%
